<div class="container">
  <div class="row justify-content-center align-items-center">
    <div>
      <h2 class="m-4 text-center">Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="row justify-content-center mx-3">
            <div class="col-12 col-sm-7 col-md-6">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="col-12 col-sm-7 col-md-6">
              <%= f.input :nome,
                          required: true,
                          input_html: { autocomplete: "nome" } %>
              <%= f.input :ife,
                          label: "Instituição de Ensino",
                          required: true,
                          input_html: { autocomplete: "ife" } %>
              <%= f.input :vinculo,
                          collection: ["servidor", "discente", "visitante"],
                          label: "Vínculo",
                          required: true,
                          input_html: { autocomplete: "vinculo" } %>
            </div>
          </div>
        </div>

        <hr>

        <div class="form-actions mb-3 text-center">
          <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
        </div>
      <%  end %>

      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
