<div class="container mb-5">
   <div class="row justify-content-center align-items-center">
      <%= simple_form_for @bicho do |f| %>
        <div class="form-inputs">
          <div class="row justify-content-center mx-3">
            <div class="form-inputs">
              <%= f.input :apelido %>
              <%= f.input :cor %>
              <%= f.input :porte, collection: Bicho::PORTE %>
              <%= f.input :personalidade, placeholder: 'Fofo, calmo, agressivo...' %>
              <%= f.input :localizacao, label: 'Localização', placeholder: 'Local da Instituição em que o bicho costuma ficar' %>
              <%= f.input :sexo, as: :radio_buttons, collection: Bicho::SEXO %>
              <%= f.input :especie, label: 'Espécie', as: :radio_buttons, collection: Bicho::ESPECIE %>
              <%= f.button :submit, class: 'btn-primary mb-3' %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
