<div class="container mt-4">

  <% if user_signed_in? %>
  <%# <% if policy(Bicho).new? %>
    <div class="text-right">
      <%= link_to "Cadastrar novo bicho", new_bicho_path, class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="mb-5">
    <h2 class="text-center m-0">Para Adoção</h2>
    <p class="text-center m-0 pl-3">Total: <%= @bichos.count - Adocao.count %></p>
  </div>

  <div class="container">
    <div class="row">
    <%# <div class="col-sm-6 col-lg-4 mb-4 d-flex align-items-stretch">
      <%= render "form" %>
    <%# </div> %>
      <% @bichos.each do |bicho| %>
        <div class="col-sm-6 col-lg-3 mb-4 d-flex align-items-stretch justify-content-center">
          <% unless bicho.adocao.present? %>
            <%= link_to bicho_path(bicho), class:"link-bicho" do %>
              <%= render "shared/card", bicho: bicho %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <hr>
  <a href="#">Go up</a>
  <%# <%= link_to "Back to list", root_path %>
  <br>
  <br>

</div>
