<!DOCTYPE html>
<html>
  <head>
    <title>BichoUniversitario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div id="page-container">
      <% unless current_page?(root_path) %>
        <div id="content-wrap">
      <% end %>

        <%= render 'shared/navbar' %>
        <%= yield %>
        <%= render 'shared/flashes' %>

      <% unless current_page?(root_path) %>
        </div>
      <% end %>

      <% unless current_page?(root_path) %>
        <%= render 'shared/footer' %>
      <% end %>
    </div>
  </body>
</html>
